<footer>
   <div class="container">
       <div class="inline">
           <div class="table-bottom">
               <p>主办单位：上海市人才工作协调小组 上海市引进海外高层次人才工作小组</p>
               <p>承办单位：中共上海市奉贤区委员会 上海市奉贤区人民政府</p>
           </div>
       </div>
       <div class="footer-copy inline">
            <div class="inline" style="vertical-align:top;">
                <div class="imgWrap-footer clearfix">
                    <div><a href="#" class="imgBox"><span></span><img src="images/copyright.png" alt="" /></a></div>
                </div>
            </div>
            <div class="table inline">
               <div class="table-bottom">
                   <p>沪ICP备05002571号</p>
               </div>
            </div>
       </div>
   </div>
</footer>