<header id="header" class="">
    <div class="header-nav">
        <div class="header-nav-logo">
            <a href="/" title=""><img src="./images/LOGO.png" alt="千人计划logo"></a>
        </div>
        <div class="header-nav-detail ul-nav">
            <ul>
                <li>
                    <a href="/" title="">官方首页</a>
                </li>
                <li>
                    新闻中心
                    <ul>
                        <a href="/newstrends" title=""><li>新闻动态</li></a>
                        <a href="/bulletin" title=""> <li>简报</li></a>
                    </ul>
                </li>
                <li>
                    创业园概况
                    <ul>
                        <a href="/introduce" title=""><li>创业园简介</li></a>
                        <a href="/leaderteam" title=""><li>领导小组</li></a>
                        <a href="/visitorcenter" title=""><li>接待中心</li></a>
                        <a href="/contactus" title=""><li>联系我们</li></a>
                    </ul>
                </li>
                <li>
                    创业政策
                    <ul style="margin-left: -136px;">
                        <a href="/newestpolicy" title=""><li>最新创业政策</li></a>
                        <a href="/qrjhpolicy" title=""><li>千人计划创业园政策</li></a>
                        <a href="/industrypolicy" title=""><li>产业扶持政策</li></a>
                        <a href="/zjpolicy" title=""><li>张江扩区扶持政策</li></a>
                    </ul>
                </li>
                <li>
                    创业服务
                    <ul style="margin-left: -136px;">
                        <a href="/standard"><li>准入标准</li></a>
                        <a href="/sybfund"><li>创业资金</li></a>
                        <a href="/sybconsult"><li>创业咨询</li></a>
                        <a href="/download"><li>资料下载</li></a>
                    </ul>
                </li>
                <li>
                    人才服务
                    <ul style="margin-left: -560px;">
                        <a href="/recognition"><li>资格认定</li></a>
                        <a href="/advice"><li>留言台</li></a>
                        <a href="/sodality"><li>千人计划联谊会</li></a>
                        <a href="/sodalityevent"><li>联谊会活动</li></a>
                        <a href="/sodalityintro"><li>联谊会介绍</li></a>
                        <a href="/IYTC"><li>滨海贤人旅游卡介绍</li></a>
                    </ul>
                </li>
                <li>
                    企业风采
                    <ul style="margin-left: -136px;">
                        <a href="/cointro"><li>企业介绍</li></a>
                        <a href="/expert"><li>专家风采</li></a>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-line">
    </div>
</header>