<section class="overview-container">
    <div class="sec-container">
		<div class="ss-left">
			<div class="ss-intro">
				<p>创业园概况</p>
			</div>
			<div class="ss-left-list">
				<div class="ss-left-list--click">
				    <a href="/introduce" title="">
				    	<div class="ss-left-list-title red-radius">
				    		<p>创业园简介</p>
				    	</div>
				    </a>
				    <a href="/leaderteam">
				    	<div class="ss-left-list-title white-bg">
				    		<p>领导小组</p>
				    	</div>				
				    </a>

				    <a href="/visitorcenter">
				    	<div class="ss-left-list-title white-bg">
				    		<p>接待中心</p>
				    	</div>				
				    </a>

				    <a href="/contactus">
				    	<div class="ss-left-list-title white-bg">
				    		<p>联系我们</p>
				    	</div>				
				    </a>
					
				</div>

				<div class="ss-left-list-box">
				    <div class="imgWrap clearfix">
				        <div class="border-br"><a href="#" class="imgBox"><span></span><img src="images/download.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/traffic.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/news.png" alt="" /></a></div>
				        <div class="border-tl divfour"><a href="#" class="imgBox"><span></span><img src="images/pass.png" alt="" /></a></div>
				    </div>
				</div>
				<div class="ss-left-list-more">	
					<div class="more-title clearfix">
							<p>官方微博</p>
					</div>				
				    <div class="more-box clearfix">
				      <div>
				        <span></span>
				        <a href="#" class="imgBox">
				            <img src="./images/more.png" alt="" />
				        </a>
				      </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="ss-right">
			<div class="ss-list">
				<div class="ss-list-title">
					<p><a href="/" title="">首页</a>-创业园概况-创业园简介</p>					
				</div>
				<div class="overview-content">
				    <p class="overview-content-p">上海千人计划创业园概况</p>
				    <div class="overview-content-img">
				    	<img src="/images/overviewPic.png" alt="">
				    </div>
					<div class="text-box">
						<p class="text-box-title">奉贤简介</p>   	
						<div class="text-box-content">
							
							<p>奉贤地处上海南部，北枕黄浦江，南临杭州湾，座拥通江达海之势，区政府所在地距市中心和两个国际机场均在40公里左右。全区陆地面积733平方公里，海域面积400多平方公里，常住人口108万人。近年来，奉贤快速发展，已初步形成以“6+8”重点产业为支撑的新型产业体系和宜居、宜业的城市环境，打造出“人文、生态和市场”三张名片。</p>

							<p>一是人文环境名片。奉贤历史悠久、底蕴深厚，相传孔子弟子言偃曾来此讲学，当地民众对其推崇备至，而定地名“奉贤”以示纪念。“敬奉贤人、见贤思齐”的“贤文化”是奉贤城市精神的基本组成部分。区内拥有华东理工大学、上海师范大学等9所高等院校。全区各类人才达到14.3万人，其中具有高级职称人才2.4万人，有市“千人计划”人才、市领军人才、国务院特殊津贴专家以及区领军人才近百名。</p>

							<p>二是生态环境名片。奉贤生态环境优势明显，作为国家园林城区，全区各类林地总面积达4.5万亩，绿化覆盖率高于全市平均水平7个百分点，全年空气质量优良率为95%左右，PM2.5浓度值明显低于全市平均值，是上海空气质量最好的区域之一。区内拥有全市最大的森林公园、最长的生态海岸线和人造沙滩，成为海内外人士休闲和居住的最佳选择。</p>

							<p>三是市场环境名片。奉贤是改革开放以来上海民营经济的重要发祥地，市场机制作用明显，上世纪80年代上海闻名的“星期天工程师”就首先出现在奉贤。目前，奉贤拥有良好的民营经济发展基础，拥有7万多家中小企业，行业门类齐全，产业链配套能力强，市场活力充沛。近年来，奉贤一直在探索新的发展模式，“十二五”规划确立了“三化两建设”的发展思路，即加快推进新型工业化、新型城市化、城乡一体化，加强社会建设和服务型政府建设。目前奉贤已经成为上海唯一的城乡统筹综合配套改革的试点区。</p>

							<p>展望未来，奉贤已经进入了新城时代、海洋时代和国际化的时代，奉贤的发展迎来了“新城建设、杭州湾大发展和国际化”三大战略机遇。</p>

							<p>一是南桥新城建设的机遇。奉贤南桥新城是“十二五”期间上海重点建设的新城之一，其定位是杭州湾北岸的综合性服务型核心新城，是上海南部的中心和南上海国际化新城，同时也是被市政府确定的郊区新城中唯一的上海首批低碳发展实践试点区域，通过建设低碳、生态、智慧、宜居的新城，必将进一步提升奉贤产业能级和综合实力。</p>

							<p>二是杭州湾大发展的机遇。上海在“东进战略”后，正逐步实施 “南下战略”，其城市发展正从黄浦江时代迈向杭州湾时代和海洋时代。奉贤通江达海，随着沿海大通道以及杭州湾交通环线的逐渐形成，地处上海南部的奉贤，凭借其联系上海与浙江以及东南沿海地区的门户枢纽地位，正在逐渐成为上海吸引长三角南翼中小企业到上海发展的桥头堡，同时带动杭州湾北岸成为上海城市发展的新引擎、上海发展的第三极。</p>

							<p>三是国际化的机遇。契合上海国际大都市的“四个中心”定位，我们加强与中国欧盟商会等机构合作，建立欧盟中小企业园区、加拿大生物医药园区等载体，大力发展拥有国际水平的先进制造业；依托上海金融产业服务基地、爱迪国际学校等高端服务载体，大力发展具有国际水平的现代服务业，城市综合服务功能必将有新的提升。</p>
						</div>
						<p class="text-box-title">创业园简介</p>
						<div class="text-box-content">
							
							<p>为了进一步贯彻落实人才强市战略，鼓励“千人计划”人才深度创业，由上海市委、市府十五个委办局联合发文，确定在奉贤区设立了首个上海“千人计划”创业园，并制定相应扶持政策。</p>

							<p>上海“千人计划”创业园规划面积13.8平方公里，以该区域为核心，以点带面，辐射全区。创业园将聚焦战略性新兴产业和现代服务业，重点打造新材料与信息技术产业、生物科技产业、新能源与智能制造产业三大产业集聚板块，鼓励“千人计划”人才或者海外领军人才及其团队进行深度创业和二次创业，实现以人才集聚引领项目集聚、科技集聚、资本集聚和产业集聚，致力于把“千人计划”创业园打造为“成本的洼地、创业的天堂、幸福的家园”。</p>

							<p>“千人计划”创业园内已设立接待中心，位于奉贤经济开发区生物科技园的核心区域，建筑面积2000平方米，设有会务培训区、餐饮住宿区以及休闲健身区等功能区。接待中心毗邻S4高速，交通便利、环境优美、功能齐全。接待中心将为希望进驻创业园“千人计划”的人才提供投资创业、项目考察及合作洽谈等各类“首站式”服务。</p>

							<p>自创业园筹建以来，园区建设得到了包括众多企业和海外高层次人才在内的社会各界的广泛关注与支持。先后已有近50多位“千人计划”专家来奉进行项目考察及洽谈。</p>

							<p>按照“项目主导”的原则，区相关部门依据产业定位积极推进项目落地。目前，目前共有53个项目正在积极推进中。其中，已签约项目12个、已完成工商注册的项目9个、正在办理公司注册手续项目6个、正在洽谈的项目32个。这些项目主要集中于生物科技、高精密制造、信息技术、新材料等产业。</p>

							<p>创业园是一片投资创业的宝地，欢迎您加入创业园，与奉贤一同成长，与上海一同创造未来！</p>
						</div>
					</div>				   
				</div>
			</div>
		</div>
    </div>

	<div class="qr-backtotop hide">
	   <a data-action="backtotop">
	      <img src="/images/top.png" alt="">
	   </a>
	</div>
</section>