<section class="overview-container">
    <div class="sec-container">
		<div class="ss-left">
			<div class="ss-intro">
				<p>创业园概况</p>
			</div>
			<div class="ss-left-list">
				<div class="ss-left-list--click">
				    <a href="/introduce" title="">
				    	<div class="ss-left-list-title normal-bg">
				    		<p>创业园简介</p>
				    	</div>
				    </a>
				    <a href="/leaderteam">
				    	<div class="ss-left-list-title white-bg">
				    		<p>领导小组</p>
				    	</div>				
				    </a>

				    <a href="/visitorcenter">
				    	<div class="ss-left-list-title active-bg">
				    		<p>接待中心</p>
				    	</div>				
				    </a>

				    <a href="/contactus">
				    	<div class="ss-left-list-title white-bg">
				    		<p>联系我们</p>
				    	</div>				
				    </a>
					
				</div>

				<div class="ss-left-list-box">
				    <div class="imgWrap clearfix">
				        <div class="border-br"><a href="#" class="imgBox"><span></span><img src="images/download.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/traffic.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/news.png" alt="" /></a></div>
				        <div class="border-tl divfour"><a href="#" class="imgBox"><span></span><img src="images/pass.png" alt="" /></a></div>
				    </div>
				</div>
				<div class="ss-left-list-more">	
					<div class="more-title clearfix">
							<p>官方微博</p>
					</div>				
				    <div class="more-box clearfix">
				      <div>
				        <span></span>
				        <a href="#" class="imgBox">
				            <img src="./images/more.png" alt="" />
				        </a>
				      </div>
				    </div>
				</div>
			</div>
		</div>
		<div class="ss-right">
			<div class="ss-list">
				<div class="ss-list-title">
					<p><a href="/" title="">首页</a>-创业园概况-接待中心</p>					
				</div>
				<div class="overview-content">
				    <p class="overview-content-p">上海千人计划创业园欢迎您</p>
				    <div class="overview-content-img">
				    	<img src="/images/overviewVisitor.png" alt="">
				    </div>
					<div class="text-box">
						<p class="text-box-title">上海“千人计划”创业园接待中心</p>   	
						<div class="text-box-content">
							<p>上海“千人计划”创业园接待中心位于奉贤经济开发区生物科技园区汇丰西路1218号，占地150余亩，建筑面积20000平方米，毗邻S4高速，交通便利，地理位置优越，是服务海外高层次人才的综合窗口、畅通海外高层次人才合作交流的桥梁纽带、招才引智的新型平台、海外高层次人才集聚区的地标象征。</p>

							<p>一、是服务海外高层次人才的综合窗口，中心服务内容主要包括各类创业咨询服务、科技项目咨询服务、个性化生活服务等，为人才提供创新、创业和生活的“一门式”服务。</p>

							<p>二、是畅通海外高层次人才交流的活动园地，中心作为海外高层次人才活动的固定场所，引入各类人才品牌活动，开展人才沙龙、俱乐部等交流活动。</p>

							<p>三、是打造招才引智的新型平台，吸引国家、市、区级人才行业协会、人才社团以及“猎头”公司入驻，通过高端引领、以才引才等方式，多渠道吸引海外高层次人才。</p>
						</div>

							
					</div>				   
				</div>
			</div>
		</div>
    </div>

	<div class="qr-backtotop hide">
	   <a data-action="backtotop">
	      <img src="/images/top.png" alt="">
	   </a>
	</div>
</section>