<section class="ss-container">
    <div class="sec-container">
		<div class="ss-left">
			<div class="ss-intro">
				<p>人才服务</p>
			</div>
			<div class="ss-left-list">

				<a href="/recognition" title="">
					<div class="ss-left-list-title red-radius">
						<p>资格认定</p>
					</div>
				</a>

				<a href="/advice" title="">
					<div class="ss-left-list-title white-bg">
						<p>留言台</p>
					</div>
				</a>

				<a href="/sodality" title="">
					<div class="ss-left-list-title white-bg">
						<p>千人计划联谊会</p>
					</div>
				</a>
				<a href="/sodalityintro" title="">
					<div class="ss-left-list-title white-bg">
						<p>联谊会介绍</p>
					</div>
				</a>
				<a href="/sodalityevent" title="">
					<div class="ss-left-list-title white-bg">
						<p>联谊会活动</p>
					</div>
				</a>
				<a href="/IYTC" title="">
					<div class="ss-left-list-title white-bg">
						<p>滨海贤人旅游卡介绍</p>
					</div>
				</a>

				<div class="ss-left-list-box">
				    <div class="imgWrap clearfix">
				        <div class="border-br"><a href="#" class="imgBox"><span></span><img src="images/download.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/traffic.png" alt="" /></a></div>
				        <div><a href="#" class="imgBox"><span></span><img src="images/news.png" alt="" /></a></div>
				        <div class="border-tl divfour"><a href="#" class="imgBox"><span></span><img src="images/pass.png" alt="" /></a></div>
				    </div>
				</div>
				<div class="ss-left-list-more">	
					<div class="more-title clearfix">
							<p>官方微博</p>
					</div>				
				    <div class="more-box clearfix">
				      <div>
				        <span></span>
				        <a href="#" class="imgBox">
				            <img src="./images/more.png" alt="" />
				        </a>
				      </div>
				    </div>
				</div>
			</div>
		</div>

		<div class="ss-right">
			<div class="ss-list">
				<div class="ss-list-title">
					<p>
					  <a href="/" title="">首页</a>-人才服务-资格认定
					</p>
				</div>
				<div class="list--download list__gray--download">
					<ul>
						<li>
				    			<div>
				    			    <span>中央：顶尖人才与创新团队项目</span>
				    				<button type="" class="fr list__button">文件下载</button>
				    			</div>			    				
			    			
			    		</li>
		    			<li>
		    	    			<div>
		    	    			    <span>中央：顶尖人才与创新团队项目</span>
		    	    				<button type="" class="fr list__button">文件下载</button>
		    	    			</div>			    				
		        			
		        		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>		
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    					<li>
    			    			<div>
    			    			    <span>中央：顶尖人才与创新团队项目</span>
    			    				<button type="" class="fr list__button">文件下载</button>
    			    			</div>			    				
    		    			
    		    		</li>
    		   			<li>
    		   	    			<div>
    		   	    			    <span>中央：顶尖人才与创新团队项目</span>
    		   	    				<button type="" class="fr list__button">文件下载</button>
    		   	    			</div>			    				
    		       			
    		       		</li>
		       			<li>
		       	    			<div>
		       	    			    <span>中央：顶尖人才与创新团队项目</span>
		       	    				<button type="" class="fr list__button">文件下载</button>
		       	    			</div>			    				
		           			
		           		</li>
	         			<li>
	         	    			<div>
	         	    			    <span>中央：顶尖人才与创新团队项目</span>
	         	    				<button type="" class="fr list__button">文件下载</button>
	         	    			</div>			    				
	             			
	             		</li>
					</ul>
				</div>
			</div>
			<div class="fenye">
				<p>这里放分页</p>
			</div>
		</div>
    </div>

	<div class="qr-backtotop hide">
	   <a data-action="backtotop">
	      <img src="/images/top.png" alt="">
	   </a>
	</div>
</section>