<section class="ss-container">
    <div class="sec-container">
        <div class="ss-left">
            <div class="ss-intro">
                <p>人才服务</p>
            </div>
            <div class="ss-left-list">
                <a href="/recognition" title="">
                    <div class="ss-left-list-title normal-bg">
                        <p>资格认定</p>
                    </div>
                </a>
                <a href="/advice" title="">
                    <div class="ss-left-list-title white-bg">
                        <p>留言台</p>
                    </div>
                </a>
                <a href="/sodality" title="">
                    <div class="ss-left-list-title white-bg">
                        <p>千人计划联谊会</p>
                    </div>
                </a>
                <a href="/sodalityintro" title="">
                    <div class="ss-left-list-title active-bg">
                        <p>联谊会介绍</p>
                    </div>
                </a>
                <a href="/sodalityevent" title="">
                    <div class="ss-left-list-title white-bg">
                        <p>联谊会活动</p>
                    </div>
                </a>
                <a href="/IYTC" title="">
                    <div class="ss-left-list-title white-bg">
                        <p>滨海贤人旅游卡介绍</p>
                    </div>
                </a>
                <div class="ss-left-list-box">
                    <div class="imgWrap clearfix">
                        <div class="border-br"><a href="#" class="imgBox"><span></span><img src="images/download.png" alt="" /></a></div>
                        <div><a href="#" class="imgBox"><span></span><img src="images/traffic.png" alt="" /></a></div>
                        <div><a href="#" class="imgBox"><span></span><img src="images/news.png" alt="" /></a></div>
                        <div class="border-tl divfour"><a href="#" class="imgBox"><span></span><img src="images/pass.png" alt="" /></a></div>
                    </div>
                </div>
                <div class="ss-left-list-more">
                    <div class="more-title clearfix">
                        <p>官方微博</p>
                    </div>
                    <div class="more-box clearfix">
                        <div>
                            <span></span>
                            <a href="#" class="imgBox">
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ss-right">
            <div class="ss-list">
                <div class="ss-list-title">
                    <p>
                        <a href="/" title="">首页</a>-人才服务-联谊会介绍
                    </p>
                </div>
                <div class="left__content left__content--minheight">
                    <p class="left__p">联谊会介绍</p>
                    <div class="horizontal horizontal--justify horizontal--minheight">
                        <div class="horizontal__text horizontal__text--top">
                            <div class="textbox">
                                <p class="textbox__title--top">联谊交流、协同创新、建言献策和人才举荐</p>
                                <div class="textbox__content">
                                    <p>为更好地凝聚“千人计划”专家，进一步提高服务水平，优化人才发展环境，上海市委组织部参照中央组织部做法，于2012年8月7日成立上海千人计划专家联谊会。该联谊会旨在携手专家和学者，打造联谊交流、协同创新、建言献策和人才举荐的平台。</p>
                                </div>
                            </div>
                        </div>
                        <div class="horizontal__img clearfix">
                            <img src="/images/lianyiintro.png" alt="">
                        </div>
                    </div>
                    <div class="textbox">
                        <p class="textbox__title">联谊会概况</p>
                        <div class="textbox__content">
                            <p>目前在沪中央和上海“千人计划”专家目前已达650名。在当天举行的上海千人计划专家联谊会会员大会暨联谊会上，选举产生了联谊会第一届理事会，并由一届一次理事会差额选举产生了常务理事会成员。中国科学院上海植物逆境生物学研究中心主任、国家顶尖“千人计划”专家朱健康院士当选联谊会首任会长。展讯通信创始人、武岳峰资本创始合作人武平当选联谊会首任执行副会长，同济大学上海地面交通工具风洞中心主任杨志刚教授当选联谊会首任常务副会长，复旦大学副校长金力、上海交通大学安泰经济与管理学院院长周林等16人当选联谊会首任副会长</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fenye">
                <p>这里放分页</p>
            </div>
        </div>
    </div>
    <div class="qr-backtotop hide">
        <a data-action="backtotop">
            <img src="/images/top.png" alt="">
        </a>
    </div>
</section>
