<section class="home-container">
    <div class="sec-container">
        <div class="top-slider">
            
            <div class="my-slider">
                <ul>
                    <li>
                        <img src="./images/banner.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/banner.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/banner.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/banner.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/banner.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="home-container-white">
    <div class="sec-container">
        <div class="home-list ul-list">
            <ul>
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>人才服务</p>
                                <p>Personal Service</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="home-list-content-ol inline">
                            <ol>
                                <li><a href="" title="">资格认定</a></li>
                                <li><a href="" title="">留言台</a></li>
                                <li><a href="" title="">千人计划联谊会</a></li>
                                <li><a href="" title="">滨海贤人旅游卡</a></li>
                            </ol>
                        </div>
                        <div class="home-list-content-img inline">
                            <img src="./images/PS.png" alt="">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>服务指南</p>
                                <p>Service Guide</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="imgWrap clearfix">
                            <div><a href="#" class="imgBox"><span></span><img src="images/download.png" alt="" /></a></div>
                            <div><a href="#" class="imgBox"><span></span><img src="images/traffic.png" alt="" /></a></div>
                            <div><a href="#" class="imgBox"><span></span><img src="images/news.png" alt="" /></a></div>
                            <div><a href="#" class="imgBox"><span></span><img src="images/pass.png" alt="" /></a></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>政策扶持</p>
                                <p>Policy Support</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="home-list-content-ol">
                            <ol>
                                <li><a href="" title="">《关于建设上海千人计划创业园的若干政策意见》</a></li>
                                <li><a href="" title="">《上海“千人计划”创业园科技创新政策实施细则》</a></li>
                                <li><a href="" title="">《张江高新区奉贤园专项资金使用和管理》</a></li>
                            </ol>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="secHeight">
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>新闻动态</p>
                                <p>Dynamic News</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="home-list-content-ol">
                            <ol>
                                <li><a href="" title="">吴召忠副区长一行拜访中央千人计划专家闫方军...</a></li>
                                <li><a href="" title="">戴晶斌部长调研推进上海千人计划创业园工作...</a></li>
                                <li><a href="" title="">区委书记时光辉会见武岳峰资本等金融机构负责人...</a></li>
                                <li><a href="" title="">上海浦东干部学院领导来奉考察“千人计划”创业园...</a></li>
                                <li><a href="" title="">吴召忠副区长专题调研“千人计划”推进工作...</a></li>
                            </ol>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>创业园概况</p>
                                <p>Pioneer Park Overview</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="home-list-content-img2 inline">
                            <img src="./images/PIC2.png" alt="">
                        </div>
                        <div class="home-list-content-p inline">
                            <p>
                                奉贤地处上海南部，北枕黄浦江，南临杭州湾，座拥通江达海之势，区政府所在地距市中心和国际机场均在40公里左右。全区陆地面积733平方公里，海域面积400多平方公里，常住人口108万人。以“6+8”为...
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>企业概况</p>
                                <p>Enterprise Mien</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="paddingnone home-list-content">
                        <div class="middle-slider">
                            <div class="home-list-slider">
                                <ul>
                                    <li>
                                        <img src="./images/PIC1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="./images/PIC1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="./images/PIC1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="./images/PIC1.png" alt="">
                                    </li>
                                    <li>
                                        <img src="./images/PIC1.png" alt="">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="secHeight" style="margin-top: 59px">
                <li class="fullLi">
                    <div class="home-list-title">
                        <div class="home-list-title-content">
                            <div class="table-middle">
                                <p>新闻动态</p>
                                <p>Dynamic News</p>
                            </div>
                        </div>
                        <div class="home-list-title-more">
                            <a href="#" class="imgBox">
                                <span></span>
                                <img src="./images/more.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="home-list-content">
                        <div class="third-content ul-list">
                            <ul>
                                <li>
                                    <div class="">
                                        <p><a href="" title="">中央千人计划网</a></p>
                                        <p><a href="" title="">海外高层次人才引进专窗</a></p>
                                        <p><a href="" title="">上海高层次人才网</a></p>
                                        <p><a href="" title="">海外高层次人才集聚办公室</a></p>
                                        <p><a href="" title="">中国·上海</a></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="">
                                        <p><a href="" title="">中国新材料网</a></p>
                                        <p><a href="" title="">21世纪人才网</a></p>
                                        <p><a href="" title="">上海市发展和改革委员会</a></p>
                                        <p><a href="" title="">上海市科委</a></p>                                                
                                    </div>
                                </li>
                                <li>
                                    <div class="">
                                        <p><a href="" title="">上海市经委</a></p>
                                        <p><a href="" title="">上海·奉贤</a></p>
                                        <p><a href="" title="">奉贤区委组织部</a></p>
                                        <p><a href="" title="">奉贤投资网</a></p>


                                    </div>
                                </li>
                                <li>
                                    <div class="">
                                        <p><a href="" title="">奉贤人才网</a></p>
                                        <p><a href="" title="">奉贤招商网</a></p>
                                        <p><a href="" title="">上海市工业综合开发区</a></p>
                                        <p><a href="" title="">上海化工区奉贤分区</a></p>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="">
                                        <p><a href="" title="">海港综合经济开发区</a></p>
                                        <p><a href="" title="">上海奉贤经济开发区</a></p>
                                        <p><a href="" title="">上海临港产业区奉贤园区</a></p>
                                        <p><a href="" title="">上海市星火开发区</a></p>                                                
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div style="height: 50px;">
            </div>
        </div>
    </div>
</section>

